<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="xgOWqUApzB5jAz14vZickUGhwPQis22HxlXlWSDZ">
    <title>Make Tens Game</title>
    <link rel="stylesheet" type="text/css" href="qb.maketensgame.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.4/svg.min.js"></script>
</head>
<body>
<div>
    <table class="table">
        <tbody>
        <tr>
            <th>이메일</th>
            <td><input type="text" id="quiz-email" /></td>
        </tr>
        <tr>
            <th>패스워드</th>
            <td><input type="text" id="quiz-password" /></td>
        </tr>
        </tbody>
    </table>
    <p id="quiz-login-result"></p>
    <button id="quiz-login" class="btn">로그인</button>
</div>
    <button id="startBtn" class="btn">Start</button>
    <button id="stopBtn" class="btn">Stop</button>
    Level : <input type="text" id="level" />
    Type : <select id="type">
        <option>Two</option>
        <option>Three</option>
    </select>
    Fill : <select id="fill">
        <option>0</option>
        <option>1</option>
    </select>
</body>
</html>
<script src="qb.maketensgame.js"></script>
<script type="text/javascript">
    var api_token = '';
    var csrf_token = '{{ csrf_token() }}';

    var username = "admin@quebon.com";
    var password = "quebonadmin";

    var api_id;

    $('#quiz-email').val('admin@quebon.com');
    $('#quiz-password').val('quebonadmin');

    function make_base_auth(user, password) {
        var tok = user + ':' + password;
        var hash = btoa(tok);
        return "Basic " + hash;
    }

    $('#quiz-login').click(function(event) {
        event.preventDefault();

        var email = $('#quiz-email').val();
        var password = $('#quiz-password').val();

        if (!email || !password) {
            alert('이메일과 패스워드를 입력해 주세요.');
            return false;
        }

        $.ajax({
            type: 'POST',
            url: 'http://52.79.55.24/quiz/login',
            data: {
                _token: csrf_token,
                email: email,
                password: password
            }
        }).done(function(data) {
            $('#quiz-login-result').html(data);

            var loginData = JSON.parse(data);

            if (!loginData.hasOwnProperty('userId') || !loginData.userId) {
                alert('로그인에 이상이 있습니다.');
                return false;
            }

            api_id = loginData.userId;
            api_token = loginData.token;
            console.log(api_id);
            console.log(api_token);
        })
    });

    var game;
    var id = 1;
    $('#level').val(3);

    $('#type').change(function () {
        var type = $('#type').val();

        if(type === "Two"){
            $('#fill option').each(function () {
                $(this).remove();
            });
            $('#fill').append('<option>0</option>');
            $('#fill').append('<option>1</option>');
        }
        else if(type === "Three"){
            $('#fill option').each(function () {
                $(this).remove();
            });
            $('#fill').append('<option>0</option>');
            $('#fill').append('<option>1</option>');
            $('#fill').append('<option>2</option>');
        }
    });
    
    $('#startBtn').click(function () {
        var level = $('#level').val();
        var type = $('#type').val();
        var fill = $('#fill').val();

        $('#type').attr('disabled', 'true');
        $('#fill').attr('disabled', 'true');
        $('#level').attr('disabled', 'true');

        if(type === "Two"){
            if(game instanceof QB_Trickle_Game)
                game.stopGame();
            game = new QB_Trickle_Game("two", fill, level, "body", id);
            game.drawGame();
        }
        else if(type === "Three"){
            if(game instanceof QB_Trickle_Game)
                game.stopGame();
            game = new QB_Trickle_Game("three", fill, level, "body", id);
            game.drawGame();
        }
    });

    $('#stopBtn').click(function () {
        $('#type').removeAttr('disabled');
        $('#fill').removeAttr('disabled');
        $('#level').removeAttr('disabled');
        if(game instanceof QB_Trickle_Game)
            game.stopGame();
    });
    
    function gameStop() {
        $('#type').removeAttr('disabled');
        $('#fill').removeAttr('disabled');
        $('#level').removeAttr('disabled');

        console.log("game done");
        console.log(game.score);
        console.log(game.currentTime);

        $.ajax({
            type: 'PUT',
            url: 'http://dev-api.quebon.tv/user/v1/games/makeTens' + game.type + game.fill + '/users/' + api_id,
            contentType: 'application/json',
            headers: {
                Authorization: 'Bearer ' + api_token
            },
            dataType: 'json',
            data: JSON.stringify({
                score: game.score,
                time: game.currentTime
            })
        }).done(function(data) {

            console.log("done");
        });
    };
</script>