.game-all{
    border: 1px ridge gray;
    /*border-radius: 6px;*/
    background-color: #FFFFFF;
    width: 800px;
    height: 850px;
}

.game-top{
    width: 800px;
    border-bottom: 1px ridge gray;
    /*float: left;*/
    height: 100px;
}

.game-rank{
    width: 400px;
    float: left;
    border-bottom: 1px ridge gray;
    height: 150px;
}

.game-myrank{
    width: 400px;
    float: right;
    border-bottom: 1px ridge gray;
    height: 150px;
}

.game-top-title{
    display: inline;
    width: 600px;
    float: left;
    height: 100px;
    font-size: 20px;
}

.game-top-score{
    display: inline;
    text-align: center;
    width: 200px;
    float: right;
    height: 50px;
    color: blueviolet;
    font-size: 30px;
}

.game-top-time{
    display: inline;
    text-align: center;
    width: 200px;
    float: right;
    height: 50px;
    color: blueviolet;
    font-size: 30px;
}

.game-main{
    width: 800px;
    border-bottom: 1px ridge gray;
    float: left;
    background-image: url("image/bg.png");
    /*border: 5px ridge gray;*/
    height: 500px
    /*padding: 10px;*/
    /*text-align: center;*/
    /*font-size: 30px;*/
    /*color: brown;*/
}

.game-progress{
    width: 800px;
    height: 100px;
}