<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="xgOWqUApzB5jAz14vZickUGhwPQis22HxlXlWSDZ">
    <title>Defense Game</title>
    <link rel="stylesheet" type="text/css" href="qb.defensegame.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.4/svg.min.js"></script>
</head>
<body>
<div>
    <table class="table">
        <tbody>
        <tr>
            <th>이메일</th>
            <td><input type="text" id="quiz-email" /></td>
        </tr>
        <tr>
            <th>패스워드</th>
            <td><input type="text" id="quiz-password" /></td>
        </tr>
        </tbody>
    </table>
    <p id="quiz-login-result"></p>
    <button id="quiz-login" class="btn">로그인</button>
</div>
    <button id="startBtn" class="btn">Start</button>
    <button id="stopBtn" class="btn">Stop</button>
</body>
</html>
<script src="qb.defensegame.js"></script>
<script type="text/javascript">
    var api_token = '';
    var csrf_token = '{{ csrf_token() }}';

    var username = "admin@quebon.com";
    var password = "quebonadmin";

    var api_id;

    $('#quiz-email').val('admin@quebon.com');
    $('#quiz-password').val('quebonadmin');

    function make_base_auth(user, password) {
        var tok = user + ':' + password;
        var hash = btoa(tok);
        return "Basic " + hash;
    }

    $('#quiz-login').click(function(event) {
        event.preventDefault();

        var email = $('#quiz-email').val();
        var password = $('#quiz-password').val();

        if (!email || !password) {
            alert('이메일과 패스워드를 입력해 주세요.');
            return false;
        }

        $.ajax({
            type: 'POST',
            url: 'http://52.79.55.24/quiz/login',
            data: {
                _token: csrf_token,
                email: email,
                password: password
            }
        }).done(function(data) {
            $('#quiz-login-result').html(data);

            var loginData = JSON.parse(data);

            if (!loginData.hasOwnProperty('userId') || !loginData.userId) {
                alert('로그인에 이상이 있습니다.');
                return false;
            }

            api_id = loginData.userId;
            api_token = loginData.token;
            console.log(api_id);
            console.log(api_token);
        })
    });

    var game;
    var id = 1;
    
    $('#startBtn').click(function () {
        if(game instanceof QB_Trickle_Game)
            game.stopGame();
        game = new QB_Trickle_Game("body", id);
        game.drawGame();

    });

    $('#stopBtn').click(function () {
        if(game instanceof QB_Trickle_Game)
            game.stopGame();
    });
    
    function gameStop() {

        console.log("game done");
        console.log(game.score);
        console.log(game.currentTime);

        $.ajax({
            type: 'PUT',
            url: 'http://dev-api.quebon.tv/user/v1/games/defense/users/' + api_id,
            contentType: 'application/json',
            headers: {
                Authorization: 'Bearer ' + api_token
            },
            dataType: 'json',
            data: JSON.stringify({
                score: game.score,
                time: game.currentTime
            })
        }).done(function(data) {

            console.log("done");
        });
    };
</script>